@font-face {
    font-family: 'Montserrat';
     src: url("assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
     font-weight: 700;
   }

@font-face {
    font-family: 'Montserrat';
     src: url("assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
     font-weight: 400;
   }

@font-face {
    font-family: 'Tinos';
     src: url("assets/fonts/Tinos/Tinos-Regular.ttf");
     font-weight: 400;
   }

@font-face {
    font-family: 'Tinos';
     src: url("assets/fonts/Tinos/Tinos-Bold.ttf");
     font-weight: 700;
   }

html {
    scroll-behavior: smooth; 
  }

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #606771;   

    min-height: 100vh;
    margin: 0; padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

* {
    box-sizing: border-box;
  }

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #383638;
    padding: 15px 30px;
    position: fixed;
    width: calc(100% - 30px);
    box-sizing: border-box;
    z-index: 1000;
}

.header-link-logo {
    width: 10%;
}
.header-logo {
    max-width: 55px;

    background-color: white;
    padding: 7px;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;

    list-style: none;
  }

.nav-link {
    padding: 0 20px;
    line-height: 50px;

    transition: .3s;
  }

  .nav-item a {
    color: #fdfdfd;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .nav-item a:hover {
    color: #909090;
   text-decoration: underline;
  }
  .nav-item a:hover {
    color: #909090;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
    padding: 95px 0 0;
  }
  
  .section {
    width: 50%;
    border-bottom: 5px solid #606771;
  }

  .section-title {
    font-family: 'Tinos', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #383638;
  }

  .section-link{
      color: #383638;
      text-decoration: none;
      border-bottom: 1px solid #383638;
      transition: .3s;
  }

  .section-link:hover,
  .footer-link:hover {
      color: #000;
      border-bottom: none;
  }

  .section-list {
      list-style: none;
      padding-left: 0;
  }

  .section-item {
    position: relative;
    padding-left: 30px;
  }
  
  .section-item::before {
    content: '';
    width: 7px;
    height: 7px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    border-width: 3px;
    border-radius: 100px;
    background-color: #fdfdfd;
    background-position: center center;
    border-color: #383638;
    border-style: solid;
  }
  .contacts-item{
      position: relative;
      padding-left: 30px;
  }
  .contacts-item:first-child:before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url(../assets/icons/home.svg);
    background-position: center center;
    background-repeat: no-repeat;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .contacts-item:nth-child(2):before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url(../assets/icons/envelope-open.svg);
    background-position: center center;
    background-repeat: no-repeat;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .contacts-item:nth-child(3):before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url(../assets/icons/github.svg);
    background-position: center center;
    background-repeat: no-repeat;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .contacts-item:nth-child(4):before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url(../assets/icons/telegram.svg);
    background-position: center center;
    background-repeat: no-repeat;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .contacts-item:nth-child(5):before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url(../assets/icons/discord.svg);
    background-position: center center;
    background-repeat: no-repeat;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .profile-photo{
    display: flex;
    justify-content: center;

    padding: 30px;

  }
  .cv-photo {
      max-width: 40%;
  }

  .profile-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #606771;
    color: #fff;
  }

  .profile-title{
      color:#fdfdfd;
      font-size: 48px;
      margin: 0;
  }

  .profile-desc {
      margin: 0;
  }

  .section-code{
      padding-bottom: 20px;
  }
  .section-education,
  .section-languages {
      border-bottom: none;
  }

  .footer {
      display:flex;
      align-items: center;
      padding: 15px 30px;
      background-color: #383638;
      color: #fdfdfd;
  }
  .footer-item {
      width: 33.33%;
      padding: 15px;
      text-align: center;
  }
  .footer-link {
    color: #fdfdfd;
    text-decoration: none;
    border-bottom: 1px solid #fdfdfd;
    transition: .3s;
}

  .footer-copy {
      text-align: left;
  }
  .footer-item:last-child{
    text-align: end;
}

  .footer-logo {
      width: 100px;
      background-color: #fdfdfd;
  }

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }